In [59]:
import csv

In [63]:
import os
cwd = os.getcwd()
cwd

'/home/agigryms/Notebooks'

In [75]:
# import csv
d = "/home/agigryms/MyProjects/Hartley_Dec_2017"
file = d + "/Storage/countries.csv"

def find_cat_details(base, category, details):
    return base.find(category, details).text.strip()

with open(file, "w+") as f: # replaces if exists
    writer = csv.writer(f)    
    writer.writerow(['Name', 'Capital', 'Population', 'Area'])

    for this in countries: 
        name = find_cat_details(this, 'h3', 'country-name').encode('utf-8')
        capital = find_cat_details(this, 'span', 'country-capital').encode('utf-8')
        population = int(find_cat_details(this, 'span', 'country-population'))
        area = float(find_cat_details(this, 'span', 'country-area'))

        writer.writerow([name, capital, population, area])

print('Ready!')

Ready!

In [10]:
import sqlite3
conn = sqlite3.connect('/home/agigryms/MyProjects/Hartley_Dec_2017/countries.db')
conn.row_factory = sqlite3.Row
conn.isolation_level = None
c = conn.cursor()
countries_retrieve = c.execute("SELECT * FROM countries")

In [15]:
for country in countries_retrieve:
    print(country['name'])

Andorra
United Arab Emirates
Afghanistan
Antigua and Barbuda
Anguilla
Albania
Armenia
Angola
Antarctica
Argentina
American Samoa
Austria
Australia
Aruba
Åland
Azerbaijan
Bosnia and Herzegovina
Barbados
Bangladesh
Belgium
Burkina Faso
Bulgaria
Bahrain
Burundi
Benin
Saint Barthélemy
Bermuda
Brunei
Bolivia
Bonaire
Brazil
Bahamas
Bhutan
Bouvet Island
Botswana
Belarus
Belize
Canada
Cocos [Keeling] Islands
Democratic Republic of the Congo
Central African Republic
Republic of the Congo
Switzerland
Ivory Coast
Cook Islands
Chile
Cameroon
China
Colombia
Costa Rica
Cuba
Cape Verde
Curacao
Christmas Island
Cyprus
Czech Republic
Germany
Djibouti
Denmark
Dominica
Dominican Republic
Algeria
Ecuador
Estonia
Egypt
Western Sahara
Eritrea
Spain
Ethiopia
Finland
Fiji
Falkland Islands
Micronesia
Faroe Islands
France
Gabon
United Kingdom
Grenada
Georgia
French Guiana
Guernsey
Ghana
Gibraltar
Greenland
Gambia
Guinea
Guadeloupe
Equatorial Guinea
Greece
South Georgia and the South Sandwich Islands
Guatemala
Guam
Guinea-Bissau
Guyana
Hong Kong
Heard Island and McDonald Islands
Honduras
Croatia
Haiti
Hungary
Indonesia
Ireland
Israel
Isle of Man
India
British Indian Ocean Territory
Iraq
Iran
Iceland
Italy
Jersey
Jamaica
Jordan
Japan
Kenya
Kyrgyzstan
Cambodia
Kiribati
Comoros
Saint Kitts and Nevis
North Korea
South Korea
Kuwait
Cayman Islands
Kazakhstan
Laos
Lebanon
Saint Lucia
Liechtenstein
Sri Lanka
Liberia
Lesotho
Lithuania
Luxembourg
Latvia
Libya
Morocco
Monaco
Moldova
Montenegro
Saint Martin
Madagascar
Marshall Islands
Macedonia
Mali
Myanmar [Burma]
Mongolia
Macao
Northern Mariana Islands
Martinique
Mauritania
Montserrat
Malta
Mauritius
Maldives
Malawi
Mexico
Malaysia
Mozambique
Namibia
New Caledonia
Niger
Norfolk Island
Nigeria
Nicaragua
Netherlands
Norway
Nepal
Nauru
Niue
New Zealand
Oman
Panama
Peru
French Polynesia
Papua New Guinea
Philippines
Pakistan
Poland
Saint Pierre and Miquelon
Pitcairn Islands
Puerto Rico
Palestine
Portugal
Palau
Paraguay
Qatar
Réunion
Romania
Serbia
Russia
Rwanda
Saudi Arabia
Solomon Islands
Seychelles
Sudan
Sweden
Singapore
Saint Helena
Slovenia
Svalbard and Jan Mayen
Slovakia
Sierra Leone
San Marino
Senegal
Somalia
Suriname
South Sudan
São Tomé and Príncipe
El Salvador
Sint Maarten
Syria
Swaziland
Turks and Caicos Islands
Chad
French Southern Territories
Togo
Thailand
Tajikistan
Tokelau
East Timor
Turkmenistan
Tunisia
Tonga
Turkey
Trinidad and Tobago
Tuvalu
Taiwan
Tanzania
Ukraine
Uganda
U.S. Minor Outlying Islands
United States
Uruguay
Uzbekistan
Vatican City
Saint Vincent and the Grenadines
Venezuela
British Virgin Islands
U.S. Virgin Islands
Vietnam
Vanuatu
Wallis and Futuna
Samoa
Kosovo
Yemen
Mayotte
South Africa
Zambia
Zimbabwe

In [17]:
c.execute("""
CREATE TABLE IF NOT EXISTS items (
name text, 
price text, 
url text
)
""")

In [86]:
insert_sql = "INSERT INTO items (name, price, url) VALUES (?, ?, ?);"

In [87]:
c.execute(insert_sql, ("item #1", "$19.95", "url #1"))

In [88]:
c.execute(insert_sql, ("item #2", "$199.90", "url #2"))

In [8]:
items = c.execute("SELECT * FROM items")

OperationalError: no such table: items

In [97]:
url = "https://fly4.emirates.com/CAB/IBE/SelectPrice.aspx"
import requests
from bs4 import BeautifulSoup

In [98]:
r = requests.get(url)
soup = BeautifulSoup(r.text, "html.parser")
curr = soup.find("span", "summary-curr-only")
print(curr)

None

In [130]:
text = '{"outboundFlights":[{"departureStation":"KTW","arrivalStation":"DWC","price":null,"priceType":"noData","date":"2017-12-13T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":{"amount":318.60000000,"currencyCode":"PLN"},"priceType":"price","date":"2017-12-14T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":null,"priceType":"noData","date":"2017-12-15T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":{"amount":286.60000000,"currencyCode":"PLN"},"priceType":"price","date":"2017-12-16T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":null,"priceType":"noData","date":"2017-12-17T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":null,"priceType":"noData","date":"2017-12-18T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":{"amount":318.60000000,"currencyCode":"PLN"},"priceType":"price","date":"2017-12-19T00:00:00","classOfService":null,"hasMacFlight":false}],"returnFlights":[]}'

In [131]:
import json
j = json.loads(text)
flights = j['outboundFlights']

In [132]:
flights = j['outboundFlights']
#flights

In [134]:
#from datetime import datetime
for flight in flights:
    if flight['price']:  
        f = {}
        date = flight['date'][:10]
        f[date] = flight['price']
        print(f)

{'2017-12-14': {'amount': 318.6, 'currencyCode': 'PLN'}}
{'2017-12-16': {'amount': 286.6, 'currencyCode': 'PLN'}}
{'2017-12-19': {'amount': 318.6, 'currencyCode': 'PLN'}}

In [105]:
pattern_olx = "^https?:\/\/www.olx.pl\/"
matched = re.search(pattern_olx, detailed_olx)
print(matched.group())
print(matched.group() == "https://www.olx.pl/")

https://www.olx.pl/
True

In [33]:
headers = '{ "Accept": "*/*", "Accept-Encoding":"gzip, deflate, br", "User-Agent": "Mozilla/5.0 (X11; CrOS x86_64 9592.96.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.114 Safari/537.36", \
          "Accept-Language":"en-GB,en;q=0.8,en-US;q=0.6,pl;q=0.4", "Connection":"keep-alive", "Host":"rpt.cedexis.com", \
           "Origin":"https://www.olx.pl" }' #, "Referer":"https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50" }'

In [65]:
olx_mob_header = {"Accept":"*/*", "Accept-Encoding":"gzip, deflate, br", "Accept-Language":"en-GB,en;q=0.8,en-US;q=0.6,pl;q=0.4", "Connection":"keep-alive", "Host":"www.olx.pl", "Referer":"https://www.olx.pl/oferta/mieszkanie-na-wynajem-stara-kamienica-srodmiescie-CID3-IDqvZSw.html", "User-Agent":"Mozilla/5.0 (X11; CrOS x86_64 9592.96.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.114 Safari/537.36", "X-Requested-With":"XMLHttpRequest"}
print(olx_mob_header)

{'Accept': '*/*', 'Accept-Encoding': 'gzip, deflate, br', 'Accept-Language': 'en-GB,en;q=0.8,en-US;q=0.6,pl;q=0.4', 'Connection': 'keep-alive', 'Host': 'www.olx.pl', 'Referer': 'https://www.olx.pl/oferta/mieszkanie-na-wynajem-stara-kamienica-srodmiescie-CID3-IDqvZSw.html', 'User-Agent': 'Mozilla/5.0 (X11; CrOS x86_64 9592.96.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.114 Safari/537.36', 'X-Requested-With': 'XMLHttpRequest'}

In [71]:
web = olx_mob_header['Referer']
olx_req = requests.get(web, headers=olx_mob_header)
len(olx_req.text)
olx_mob_soup = BeautifulSoup(olx_req.text, "html.parser")
mob = olx_mob_soup.find("div", "link-phone").find("strong")
print(mob.text.strip())

60x xxx xxx

In [34]:
#import json
header = json.loads(headers)

In [35]:
#print(header)
print(type(header))

<class 'dict'>

In [1]:
#print(header['Host'])
#header['Referer']

In [38]:
olx = "https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50"
r = requests.get(olx, headers=header)

'https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50'

In [51]:
#import time
t0 = time.time()

def from_epoch(t0):
    return time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(t0))

print(from_epoch(t0))

2017-12-15 09:17:21

In [53]:
type('2017-12-15 09:17:21')

str

In [40]:
arr = ['a', 'b']
type(','.join(arr))

str

In [50]:
ads_database = c.execute("SELECT * FROM ads")

In [51]:
for ad in ads_database:
    print(ad['TITLE'])

In [ ]:
# src.utils.py
def from_epoch(t0):
    return time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(t0))

def request(url): # specify headers? 
    req = requests.get(url)
    soup = BeautifulSoup(req.text, "html.parser")
    return soup

def rex(pattern, base):
    if re.search(pattern, base):
        return re.search(pattern, base).group()
    else:
        return None
    
def if_equals_else_none(condition_left, condition_right, if_successful):
    if condition_left == condition_right:
        return if_successful
    else:
        return None
    
def if_exists_else_none(condition, if_successful):
    if condition:
        return if_successful
    else:
        return None

In [ ]:
# src.detailed_olx.py
def olx_detailed(url):
    soup = request(url)
    
    details = {}
    
    em_date = soup.find("em").text.strip()
    match = re.search('o [0-9:, a-zśź]+20[0-9]+', em_date)
    details['ID'] = rex("ogłoszenia: [0-9]+", em_date).split(': ')[1]
    details['DATES_PUBLISHED_ON'] = match.group()[2:]
    
    seen = soup.find("div", {"id":"offerbottombar"}).find_all("div")#[2]
    details['TIMES_SEEN'] = seen[len(seen) - 1].text.strip().split(':')[1]
    
    details['DATES_UPDATED_ON'] = None
    details['DATES_AVAILABLE_FROM'] = None
    
    details['OFERTA_OD'] = None
    details['RODZAJ_ZABUDOWY'] = None
    details['LICZBA_POKOI'] = None
    details['UMEBLOWANE'] = None
    details['POWIERZCHNIA'] = None
    details['CZYNSZ_DODATKOWO'] = None
    details['POZIOM'] = None
    
    detailed_table = soup.find("table", "details").find_all("th")
    for th in detailed_table:
        td = th.find_next_sibling("td")
        details['_'.join(th.text.strip().upper()\
                         .replace('(', '').replace(')', '').split(' '))] = td.text.strip()

    content = soup.find("div", {"id":"textContent"})
    details['DESCRIPTION'] = content.text.strip()
    details['META_DESCRIPTION'] = soup.find("meta", {"name":"description"})["content"]
    
    contact = soup.find("ul", {"id":"contact_methods"}).find_all("li")
    methods = []
    for method in contact:
        methods.append(method.find("i")['data-icon'])
        if method.find("i")["data-icon"] == "phone":
            methods.append(method.find("strong").text)
    details['CONTACT'] = ','.join(methods)
        
    return details

In [377]:
# src.detailed_oto.py:
def oto_detailed(url):
    soup = request(url)
    params = soup.find("ul", "params-list")
    details = {}
    
    today = datetime.datetime.now().strftime("%d.%m.%Y")
    
    div = soup.find("div", "text-details")
    dates = div.find("div", "right").find_all("p")
    added = dates[0].text
    updated = dates[1].text
    details['DATES_UPDATED_ON'] = rex(":[ 0-9.]+", updated)[2:]
    details['DATES_PUBLISHED_ON'] = ("{}. Today is {}").format(rex(":[ a-z0-9.]+", added)[2:], \
                                                                today)
    left = div.find("div", "left")
    id = left.find("p").text.strip()
    details['ID'] = rex("Otodom:[ 0-9]+", id).split(': ')[1]
    seen = left.find_all("p")
    for p in seen:
        if rex("^Liczba wy", p.text.strip()):
            
            details['TIMES_SEEN'] = rex("[0-9]+", p.text.strip())
    if params.find("li", "param_m"):     
        details['POWIERZCHNIA'] = params.find("li", "param_m").find("span").text    
    else:
        details['POWIERZCHNIA'] = None
        
    details['LICZBA_POKOI'] = params.find("li", "param_m").find_next_sibling("li").find("strong").text
    
    if params.find("li", "param_floor_no"):
        details['POZIOM'] = params.find("li", "param_floor_no").find("span").text
    else:
        details['POZIOM'] = None
        
    details['CZYNSZ_DODATKOWO'] = None
    details['RODZAJ_ZABUDOWY'] = None
    details['UMEBLOWANE'] = None
    details['DATES_AVAILABLE_FROM'] = None
    
    if params.find("ul", "sub-list"):
        sub = params.find("ul", "sub-list")
        lis = sub.find_all("li")
        for li in lis: 

            if li.find("strong").text == "Czynsz - dodatkowo:":
                #details['CZYNSZ-EXTRA'] = if_equals_else_none(li.find("strong").text, "Czynsz - dodatkowo:", rex(":[a-z ]+", li.text)[2:])
                details['CZYNSZ_(DODATKOWO)'] = rex(":[0-9a-zł ]+", li.text)[2:]

            if li.find("strong").text == "Rodzaj zabudowy:":
                #details['RODZAJ ZABUDOWY'] = if_equals_else_none(li.find("strong").text, "Rodzaj zabudowy:", rex(":[a-z ]+", li.text)[2:])
                details['RODZAJ_ZABUDOWY'] = rex(":[a-z ]+", li.text)[2:]

            if li.find("strong").text == "Stan wykończenia:":
                #details['UMEBLOWANE'] = if_equals_else_none(li.find("strong").text, "Stan wykończenia:", rex(":[a-z ]+", li.text)[2:])
                details['UMEBLOWANE'] = rex(":[a-z ]+", li.text)[2:]

            if li.find("strong").text == "Dostępne od:":
                #details['DOSTEPNE OD'] = if_equals_else_none(li.find("strong").text, "Dostępne od:", rex("[0-9]+[ a-zA-Z0-9]+", li.text))
                details['DATES_AVAILABLE_FROM'] = rex("[0-9]+[ a-zA-Z0-9]+", li.text)

    contact = soup.find("div", "box-contact-info")
    if contact.find("h6"):
        details['OFERTA_OD'] = contact.find("h6").text
    else:
        details['OFERTA_OD'] = None
    details['CONTACT'] = soup.find("span", "phone-number").text.strip()
    details['DESCRIPTION'] = soup.find("div", "text-contents").find("div", {"itemprop":"description"}).text.strip()
    details['META_DESCRIPTION'] = soup.find("meta", {"name":"description"})["content"]
    
    return details

In [378]:
url = "https://www.otodom.pl/oferta/z-garderoba-duzym-balkonem-i-miejscem-garazowym-ID3wjF6.html?utm_source=refferals&utm_medium=traffic_exchange&utm_campaign=OLX_nieruchomosci_ad#gallery[1]"
print(oto_detailed(url))

{'DATES_UPDATED_ON': '28.12.2017', 'DATES_PUBLISHED_ON': '28.12.2017. Today is 28.12.2017', 'ID': '51792760', 'TIMES_SEEN': '25', 'POWIERZCHNIA': '57 m²', 'LICZBA_POKOI': '2', 'POZIOM': None, 'CZYNSZ_DODATKOWO': None, 'RODZAJ_ZABUDOWY': None, 'UMEBLOWANE': None, 'DATES_AVAILABLE_FROM': None, 'OFERTA_OD': None, 'CONTACT': '733\nWyświetl numer', 'DESCRIPTION': 'Do wynajęcia 2 pokoje z kuchnią 57 m umeblowane z garderobą dużym balkonem i miejscem garażowym. 2200 + media + kaucja', 'META_DESCRIPTION': 'Zobacz to 2 pokojowe mieszkanie na wynajem w miejscowości Warszawa, Bemowo, Obrońców Tobruku, za cenę 2 200 zł/miesiąc. To mieszkanie na wynajem  ma 57 m² powierzchni użytkowej i 57 m² powierzchni całkowitej. Otodom 51792760'}

In [ ]:
# src.general_olx_oto.py
def olx_url_main(url):
    
    conn = sqlite3.connect('/home/agigryms/Notebooks/Flat_Ads/Flat_Ads/ads.db')
    conn.row_factory = sqlite3.Row
    conn.isolation_level = None
    c = conn.cursor()

    c.execute("""
    CREATE TABLE IF NOT EXISTS ads (
    TITLE text, 
    LOCATION text, 
    URL text,
    PRICE text,
    OFERTA_OD text,
    CZYNSZ_DODATKOWO text,
    POWIERZCHNIA text,
    LICZBA_POKOI text,
    TIMES_SEEN text,
    DATES_PUBLISHED_ON text,
    DATES_DB_SAVED_ON text,
    RODZAJ_ZABUDOWY text,
    DESCRIPTION text,
    META_DESCRIPTION text,
    DATES_AVAILABLE_FROM text,
    DATES_UPDATED_ON text,
    POZIOM text,
    UMEBLOWANE text,
    CONTACT text,
    ID text)
    """)

    insert_sql = """INSERT INTO ads (
    TITLE, 
    LOCATION, 
    URL,
    PRICE,
    OFERTA_OD,
    CZYNSZ_DODATKOWO,
    POWIERZCHNIA,
    LICZBA_POKOI,
    TIMES_SEEN,
    DATES_PUBLISHED_ON,
    DATES_DB_SAVED_ON,
    RODZAJ_ZABUDOWY,
    DESCRIPTION,
    META_DESCRIPTION,
    DATES_AVAILABLE_FROM,
    DATES_UPDATED_ON,
    POZIOM,
    UMEBLOWANE,
    CONTACT,
    ID) 
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
    """
    
    soup = request(url)
    ads = soup.find("table", {'id':"offers_table"})
    
    # add checking location for unwanted areas:
    # gen['LOCATION'] = p[2].text.strip()
    patterns = [".*bezpo.redni*", \
                ".*bia.o.*", ".*weso.*", ".*rembert.*", ".*pra.*", \
                ".*bem.*", ".*wilan.*", ".*targ.w.*", ".*kochanowski.*", \
               ".*saska.*", ".*kabat.*"]

    singles = ads.find_all("tr",  "wrap")
    results = []
    
    for single in singles:
        title = single.find('h3').text.strip()
        filtered_out = False
        
        details = None
        gen = None
        
        for pattern in patterns:
            if re.search(pattern, title.lower()):
                filtered_out = True
                break
        
        if not filtered_out:
        
            url_detailed = single.find('a')['href']

            # extract detailed info for OTO ads   
            match_oto = re.search("^https?:\/\/www.otodom.pl\/", url_detailed)
            if match_oto:
                soup_detailed = request(url_detailed)
                div = soup_detailed.find("div", "text-details")
                dates = div.find("div", "right").find_all("p")
                added = dates[0].text
                if rex(":[ a-z0-9.]+", added)[2:] != "ponad 14 dni temu":
                    gen = {}
                    gen['URL'] = url_detailed 
                    gen['TITLE'] = title
                    p = single.find_all('p')
                    gen['PRICE'] = p[1].text.strip()
                    gen['LOCATION'] = p[2].text.strip()
                    gen['DATES_DB_SAVED_ON'] = from_epoch(time.time())
                    #gen['URL'] = single.find('a')['href']
                    details = {}
                    details = oto_detailed(gen['URL'])
                #else:
                    #details = None

            # extract detailed info for OLX ads                                          
            match_olx = re.search("^https?:\/\/www.olx.pl\/", url_detailed)
            if match_olx:
                gen = {}
                gen['URL'] = url_detailed 
                gen['TITLE'] = title
                p = single.find_all('p')
                gen['PRICE'] = p[1].text.strip()
                gen['LOCATION'] = p[2].text.strip()
                gen['DATES_DB_SAVED_ON'] = from_epoch(time.time())
                details = {}
                details = olx_detailed(gen['URL'])

            time.sleep(2)
            if details:
                ad = {**gen, **details}
                c.execute(insert_sql, (ad['TITLE'], \
                       ad['LOCATION'], \
                       ad['URL'], \
                       ad['PRICE'], \
                       ad['OFERTA_OD'], \
                       ad['CZYNSZ_DODATKOWO'], \
                       ad['POWIERZCHNIA'], \
                       ad['LICZBA_POKOI'], \
                       ad['TIMES_SEEN'], \
                       ad['DATES_PUBLISHED_ON'], \
                       ad['DATES_DB_SAVED_ON'], \
                       ad['RODZAJ_ZABUDOWY'], \
                       ad['DESCRIPTION'], \
                       ad['META_DESCRIPTION'], \
                       ad['DATES_AVAILABLE_FROM'], \
                       ad['DATES_UPDATED_ON'], \
                       ad['POZIOM'], \
                       ad['UMEBLOWANE'], \
                       ad['CONTACT'], \
                       ad['ID'], \
                      ))
                
                results.append(ad)
        else:
            pass
        
    return results

# olx_url_main

In [60]:
# src.run.py 

url_main = "https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50"

#import requests, re, time, math, datetime
#from bs4 import BeautifulSoup
import sqlite3

t0 = time.time()
ads_script = olx_url_main(url_main)
t9 = time.time()
print('Started @ {}\nFinished @ {}\nTook {} sec'
      .format(from_epoch(t0), from_epoch(t9), math.ceil(t9 - t0)))

Started @ 2017-12-27 12:16:57
Finished @ 2017-12-27 12:18:30
Took 93 sec

In [ ]:
for ad in ads_script:
    print(ad['TITLE'])
for ad in ads_script:
    print(ad['URL'])

In [83]:
conn = sqlite3.connect('/home/agigryms/Notebooks/Flat_Ads/Flat_Ads/ads.db')
conn.row_factory = sqlite3.Row
conn.isolation_level = None
c = conn.cursor()

In [154]:
#"Lux; K/Sądu 3 pokoje + gabinet + kuchnia"
search_title = c.execute("SELECT * FROM ads WHERE TITLE like '%Lux; K/S%'")

In [155]:
for found in search_title:
    print(found['ID'])
    print(found['DATES_DB_SAVED_ON'])

51757392
2017-12-27 11:51:19
51757392
2017-12-27 12:17:03
51757392
2017-12-27 15:21:45

In [158]:
for item in ads_DBA:
    print(item['TITLE'])

In [393]:
count_ads = c.execute("SELECT COUNT(*) as TOTAL FROM ads").fetchone()

In [394]:
#print(count_ads[0])
print(count_ads['TOTAL'])

101

In [385]:
print(count_ads[0])#['ID']

101

In [395]:
ids = c.execute("SELECT * FROM ads").fetchall()
#ids = c.fetchone()

In [399]:
specific = c.execute("SELECT * FROM ads WHERE TITLE LIKE \
'BEZ PROWIZJI atrakcyjne 4 pokoje MINUTA do metra ul.Pasaż Ursynowski 7'").fetchone()

In [405]:
print(specific[2])#['TITLE'])

https://www.olx.pl/oferta/bez-prowizji-atrakcyjne-4-pokoje-minuta-do-metra-ul-pasaz-ursynowski-7-CID3-IDqwT3w.html#2df33b28db

In [ ]:
cur.execute("SELECT Name, Price FROM Cars WHERE Id=:Id", 
    {"Id": uId}

In [475]:
title = 'BEZ PROWIZJI atrakcyjne 4 pokoje MINUTA do metra ul.Pasaż Ursynowski 7'
id = '51757392'#'391784541'

In [436]:
t = c.execute("SELECT * FROM ads WHERE TITLE = ? AND ID = ?", (title, id)).fetchone()

In [476]:
ad = c.execute("SELECT * FROM ads WHERE ID = ?", (id,)).fetchone()

In [464]:
ad = c.execute("SELECT * FROM ads WHERE ID = ?", [id]).fetchone()

In [458]:
print(t['DATES_DB_SAVED_ON']) #

2017-12-28 16:51:27

In [477]:
print(ad['URL'])

https://www.otodom.pl/oferta/lux-k-sadu-3-pokoje-gabinet-kuchnia-ID3wasE.html?utm_source=refferals&utm_medium=traffic_exchange&utm_campaign=OLX_nieruchomosci_ad#xtor=SEC-18

In [485]:
db_ids = c.execute("SELECT ID FROM ads GROUP BY ID").fetchall()
# type(db_ids) # list
ids = []
for id in db_ids:
    ids.append(id['ID'])
print(len(ids)) # 70
print(ids)

90
['313042032', '359563090', '359872846', '371116233', '374881415', '376176293', '380545457', '381184309', '381835675', '384167283', '385686403', '390524985', '390592953', '390937685', '391105773', '391208319', '391211165', '391451651', '391701221', '391784541', '391832549', '392537979', '393210891', '393560333', '393776423', '393823649', '393872895', '393917359', '394656105', '394984157', '395071689', '395087537', '395089019', '395093863', '395096563', '395099613', '395100441', '395107453', '395109221', '395310607', '395313563', '395477783', '395482303', '395489029', '395698549', '395752449', '396180133', '396523749', '397453257', '397841645', '397986609', '398153605', '398467723', '398716187', '398735611', '398754859', '398759377', '398763595', '398770099', '398777599', '398796381', '399031107', '399040853', '399045799', '399046325', '399091079', '399092825', '399124061', '399506455', '399539495', '399564665', '399565881', '399569247', '399572731', '399578461', '399600565', '399646781', '399651113', '51618456', '51757392', '51766384', '51767456', '51770956', '51771856', '51775904', '51790860', '51792756', '51792760', '51793452', '51794420']

In [485]:
db_ids = c.execute("SELECT ID FROM ads GROUP BY ID").fetchall()
# type(db_ids) # list
ids = []
for id in db_ids:
    ids.append(id['ID'])
print(len(ids)) # 70
print(ids)

90
['313042032', '359563090', '359872846', '371116233', '374881415', '376176293', '380545457', '381184309', '381835675', '384167283', '385686403', '390524985', '390592953', '390937685', '391105773', '391208319', '391211165', '391451651', '391701221', '391784541', '391832549', '392537979', '393210891', '393560333', '393776423', '393823649', '393872895', '393917359', '394656105', '394984157', '395071689', '395087537', '395089019', '395093863', '395096563', '395099613', '395100441', '395107453', '395109221', '395310607', '395313563', '395477783', '395482303', '395489029', '395698549', '395752449', '396180133', '396523749', '397453257', '397841645', '397986609', '398153605', '398467723', '398716187', '398735611', '398754859', '398759377', '398763595', '398770099', '398777599', '398796381', '399031107', '399040853', '399045799', '399046325', '399091079', '399092825', '399124061', '399506455', '399539495', '399564665', '399565881', '399569247', '399572731', '399578461', '399600565', '399646781', '399651113', '51618456', '51757392', '51766384', '51767456', '51770956', '51771856', '51775904', '51790860', '51792756', '51792760', '51793452', '51794420']

In [486]:
db_ids = c.execute("SELECT ID FROM ads WHERE ID='399673001'").fetchone()
# type(db_ids) # list
ids = []
for id in db_ids:
    ids.append(id['ID'])
print(len(ids)) # 70
print(ids)

TypeError: 'NoneType' object is not iterable

In [466]:
url = "https://www.olx.pl/oferta/ul-zadumana-3-pokoje-65m2-CID3-IDr1COj.html#a541a9945c"

In [479]:
url = "https://www.otodom.pl/oferta/lux-k-sadu-3-pokoje-gabinet-kuchnia-ID3wasE.html?utm_source=refferals&utm_medium=traffic_exchange&utm_campaign=OLX_nieruchomosci_ad#xtor=SEC-18"
oto = oto_detailed(url)

In [481]:
url = "https://www.olx.pl/oferta/duze-76m2-mieszkanie-na-dolnym-mokotowie-ul-chelmska-CID3-IDr1VYn.html#2df33b28db"
olx = olx_detailed(url)

In [482]:
if olx['ID'] in ids:
    print('Already in DB')
else:
    print('Not found')

Not found

In [484]:
ids = c.execute("SELECT ID FROM ads GROUP BY ID").fetchall()
for id in ids:
    #print(id[0])
    pass

In [365]:
print(ids[0])#['ID'])

<sqlite3.Row object at 0x7dec50d86410>

In [349]:
print(count_ads['total'])

57

In [334]:
ids10 = c.execute("SELECT ID FROM ads ORDER BY ID LIMIT 10").fetchall()

In [353]:
type(ids10[0])

sqlite3.Row

In [337]:
#ids[0]['ID']
for i in ids10:
    print(i[1])

IndexError: tuple index out of range

In [386]:
count_per_id = c.execute("SELECT ID, COUNT(*) as ID_COUNT FROM ads \
GROUP BY ID ORDER BY COUNT(*) DESC").fetchall()

In [389]:
print(count_per_id[10]['ID'])

391211165

In [391]:
print(count_per_id[10]['ID_COUNT'])

2

In [392]:
for id in count_per_id:
    print('{}: {}'.format(id[0], id[1]))

385686403: 3
398716187: 3
51757392: 3
51766384: 3
51771856: 3
313042032: 2
381835675: 2
390524985: 2
390937685: 2
391208319: 2
391211165: 2
391451651: 2
391784541: 2
394984157: 2
395087537: 2
395089019: 2
395093863: 2
395096563: 2
395109221: 2
395310607: 2
395313563: 2
395698549: 2
398735611: 2
399124061: 2
51792756: 2
51793452: 2
359563090: 1
359872846: 1
374881415: 1
376176293: 1
381184309: 1
384167283: 1
390592953: 1
391105773: 1
391832549: 1
392537979: 1
393210891: 1
393560333: 1
393823649: 1
393872895: 1
393917359: 1
394656105: 1
395071689: 1
395099613: 1
395100441: 1
395107453: 1
395477783: 1
395482303: 1
395489029: 1
395752449: 1
397453257: 1
398153605: 1
398754859: 1
398759377: 1
398763595: 1
398770099: 1
398777599: 1
398796381: 1
399040853: 1
399045799: 1
399046325: 1
399091079: 1
399092825: 1
51618456: 1
51767456: 1
51770956: 1
51775904: 1
51790860: 1
51792760: 1
51794420: 1

In [356]:
for id in count_per_id:
    print('{}: {}'.format(id[0], id[1]))

385686403: 3
398716187: 3
51757392: 3
51766384: 3
51771856: 3
390524985: 2
390937685: 2
391208319: 2
391211165: 2
391451651: 2
398735611: 2
359563090: 1
359872846: 1
374881415: 1
376176293: 1
381184309: 1
384167283: 1
390592953: 1
391105773: 1
391832549: 1
392537979: 1
393210891: 1
393560333: 1
393872895: 1
393917359: 1
395099613: 1
395100441: 1
395107453: 1
395477783: 1
395482303: 1
395489029: 1
395752449: 1
398754859: 1
398759377: 1
398763595: 1
398770099: 1
398777599: 1
398796381: 1
51618456: 1
51770956: 1
51775904: 1

In [361]:
for title in ids:
    print(title['TITLE'])

TypeError: string indices must be integers

In [174]:
for i in ids.fetchall():
    print(i[0])#['ID'])

In [159]:
for ad in ads_DBA:
    print(ad['TIMES_SEEN'])

In [34]:
#olx_detailed('https://www.olx.pl/oferta/ladne-mieszkanie-na-bielanach-CID3-IDqYYif.html#2df33b28db')

In [160]:
items = c.execute("SELECT * FROM ads")

In [ ]:
conn = sqlite3.connect('/home/agigryms/MyProjects/Hartley_Dec_2017/countries.db')
conn.row_factory = sqlite3.Row
conn.isolation_level = None
c = conn.cursor()
countries_retrieve = c.execute("SELECT * FROM countries")

In [37]:
ad = olx_detailed('https://www.olx.pl/oferta/ladne-mieszkanie-na-bielanach-CID3-IDqYYif.html#2df33b28db')

In [40]:
ad['TIMES_SEEN']

'81'

In [ ]:
ads_table = c.execute("SELECT * FROM ads")

In [7]:
print(len(ads))
for ad in ads:
    print(ad['TITLE'])

14
wynajmę mieszkanie 60 m2 Warszawa ul. Kochanowskiego
Saska Kępa -Klimatyczne mieszkanie na Ateńskiej 10
Luksusowe 3 pokoje Rezydencja Mokotów METRO
apartament stare Miasto Plac zamkowy/Piwna 80m wynajem
2-pokojowe mieszkanie, ul. Okrężna
Przestronne mieszkanie z garażem, ul. Gawota
2 sypialnie+salon, ul. Zawiszy
2 oddzielne pokoje na parterze, ul. Ordona
2 pokoje, metro Dw. Wileński, ul. Floriańska
2 oddzielne pokoje, ul. Staffa
ul. Twarda, 2 oddzielne pokoje od zaraz
3-pokojowy apartament, 120m2, Skwer Wyszyńskiego
Wynajmę nowe mieszkanie 50 m, 2 pokoje, Konstruktorska
2 pokojowe, W-wa Obrzezna, od zaraz

In [72]:
print(ads[34])
print(ads[33])
#olx_detailed('https://www.olx.pl/oferta/zielone-zacisze-63-m2-targowek-warszawa-CID3-IDqVthn.html#2df33b28db;promoted')

{'URL': 'https://www.olx.pl/oferta/ladne-3-pokojowe-mieszkanie-do-wynajecia-warszawa-CID3-IDpDY8B.html#2df33b28db', 'TITLE': 'Ładne 3 pokojowe mieszkanie do wynajecia WARSZAWA', 'PRICE': '2 000 zł', 'LOCATION': 'Warszawa, Rembertów', 'DATES_DB_SAVED_ON': '2017-12-22 16:32:45', 'ID': '378934365', 'DATES_PUBLISHED_ON': '08:32, 22 grudnia 2017', 'TIMES_SEEN': '2277', 'DATES_UPDATED_ON': None, 'DATES_AVAILABLE_FROM': None, 'OFERTA_OD': 'Osoby prywatnej', 'POZIOM': '1', 'UMEBLOWANE': 'Tak', 'RODZAJ_ZABUDOWY': 'Blok', 'POWIERZCHNIA': '67 m²', 'LICZBA_POKOI': '3 pokoje', 'CZYNSZ_(DODATKOWO)': '500 zł', 'DESCRIPTION': 'ladne zadbane mieszkanie na 1 pietrze w zadbanym 3 pietrowym bloku z 1986r  Wokół niska zabudowa, tereny rekreacyjne oraz las. Jednocześnie kilkaset metrów do sklepów, punktów usługowych, komunikacji autobusowej i pełnej infrastruktury.  Okolica pelna zieleni i ciszy  Mieszkanie zadbane czyste 3 pokoje,kuchnia,osobna lazienka,toaleta ,duzy balkon, duza piwnica z oknem ocieplenie miejskie  Zapraszam do obejrzenia', 'META_DESCRIPTION': '2 000 zł: ladne zadbane mieszkanie na 1 pietrze w zadbanym 3 pietrowym bloku z 1986r  Wokół niska zabudowa, tereny rekreacyjne oraz las. Jednocześnie kilkaset metrów do sklepów, punktów usługowych, komunikacji ...', 'CONTACT': 'message,phone,69x xxx xxx'}
{'URL': 'https://www.olx.pl/oferta/ladne-3-pokojowe-mieszkanie-do-wynajecia-warszawa-CID3-IDpDY8B.html#2df33b28db', 'TITLE': 'Ładne 3 pokojowe mieszkanie do wynajecia WARSZAWA', 'PRICE': '2 000 zł', 'LOCATION': 'Warszawa, Rembertów', 'DATES_DB_SAVED_ON': '2017-12-22 16:32:45', 'ID': '378934365', 'DATES_PUBLISHED_ON': '08:32, 22 grudnia 2017', 'TIMES_SEEN': '2277', 'DATES_UPDATED_ON': None, 'DATES_AVAILABLE_FROM': None, 'OFERTA_OD': 'Osoby prywatnej', 'POZIOM': '1', 'UMEBLOWANE': 'Tak', 'RODZAJ_ZABUDOWY': 'Blok', 'POWIERZCHNIA': '67 m²', 'LICZBA_POKOI': '3 pokoje', 'CZYNSZ_(DODATKOWO)': '500 zł', 'DESCRIPTION': 'ladne zadbane mieszkanie na 1 pietrze w zadbanym 3 pietrowym bloku z 1986r  Wokół niska zabudowa, tereny rekreacyjne oraz las. Jednocześnie kilkaset metrów do sklepów, punktów usługowych, komunikacji autobusowej i pełnej infrastruktury.  Okolica pelna zieleni i ciszy  Mieszkanie zadbane czyste 3 pokoje,kuchnia,osobna lazienka,toaleta ,duzy balkon, duza piwnica z oknem ocieplenie miejskie  Zapraszam do obejrzenia', 'META_DESCRIPTION': '2 000 zł: ladne zadbane mieszkanie na 1 pietrze w zadbanym 3 pietrowym bloku z 1986r  Wokół niska zabudowa, tereny rekreacyjne oraz las. Jednocześnie kilkaset metrów do sklepów, punktów usługowych, komunikacji ...', 'CONTACT': 'message,phone,69x xxx xxx'}

In [67]:
#oto_detailed('https://www.otodom.pl/oferta/jasne-osobna-kuchnia-duzy-balkon-bezposrednio-ID3w9lq.html?utm_source=refferals&utm_medium=traffic_exchange&utm_campaign=OLX_nieruchomosci_ad#gallery[1]')

In [59]:
text = "BEZPOŚREDNIO - centrum 63m2 klimatyczne i przestronne"
text.lower()

'bezpośrednio - centrum 63m2 klimatyczne i przestronne'

In [78]:
#import re
patterns = [".*bia.o.*", ".*weso.*", ".*rembert.*", ".*pra.*", ".*bem.*", ".*wilan.*", ".*targ.w.*", ".*pra.*"]
for pattern in patterns:
    if re.search(pattern, title.lower()):
        break
        print('got here')
#print(match.group())
#filter out: Bemow*, Wilan*, Targ*w, Weso*, Bia*o*, Pra*, Rembert*,

In [79]:
patterns

['.*bia.o.*',
 '.*weso.*',
 '.*rembert.*',
 '.*pra.*',
 '.*bem.*',
 '.*wilan.*',
 '.*targ.w.*',
 '.*pra.*']

In [ ]:
match = re.search(pattern, text.lower())

print(match)

In [82]:
title = "Fort Bema"
for pattern in patterns:
    if re.search(pattern, title.lower()):
        break
        print('got here')
print(1)

1

In [29]:
print(olx_detailed(ads[0]['URL']))

{'ID': '397705277', 'DATES_PUBLISHED_ON': '13:01, 20 grudnia 2017', 'TIMES_SEEN': 'Wyświetleń:47', 'DATES_UPDATED_ON': None, 'DATES_AVAILABLE_FROM': None, 'OFERTA_OD': 'Biuro / Deweloper', 'UMEBLOWANE': 'Tak', 'RODZAJ_ZABUDOWY': 'Blok', 'POWIERZCHNIA': '58 m²', 'LICZBA_POKOI': '3 pokoje', 'CZYNSZ_(DODATKOWO)': '1 zł', 'DESCRIPTION': 'Trzypokojowe mieszkanie do wynajęcia, o powierzchni 58m2, piętro 14/15, 2005r. Mieszkanie znajduje się przy ulicy Pejzażowej, Mokotów. Doskonała lokalizacja, zaledwie 2 minuty pieszo metro Wilanowska. \n\r\nMieszkanie składa się z salonu z aneksem kuchennym, dwóch sypialni, łazienki oraz przedpokoju. Jest nieumeblowane. Aneks kuchenny wyposażony w niezbędny sprzęt AGD. Łazienka z prysznicem i pralką. Dodatkową powierzchnię stanowi balkon.\n\r\nCena: 2700zł + prąd, woda. Kaucja jednomiesięczna. Wolne od zaraz.\n\r\nJednorazowa prowizja dla agencji: 500zł. Oglądanie bezpłatne.\n\r\nwww.mardom-nieruchomosci.pl', 'META_DESCRIPTION': '2 700 zł: Trzypokojowe mieszkanie do wynajęcia, o powierzchni 58m2, piętro 14/15, 2005r. Mieszkanie znajduje się przy ulicy Pejzażowej, Mokotów. Doskonała lokalizacja, zaledwie 2 minuty pieszo metro Wilanowska....', 'CONTACT': ['message', 'phone']}

In [25]:
print(ads[0]['URL'])

https://www.olx.pl/oferta/metro-wilanowska-3-pokoje-ul-pejzazowa-CID3-IDqUJjf.html#2df33b28db

In [38]:
headers = { "Accept": "*/*", "Accept-Encoding":"gzip, deflate, br", "User-Agent": "Mozilla/5.0 (X11; CrOS x86_64 9592.96.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.114 Safari/537.36", \

           "Accept-Language":"en-GB,en;q=0.8,en-US;q=0.6,pl;q=0.4", "Connection":"keep-alive", "Host":"www.otodom.pl", \
           "Origin":"https://www.otodom.pl", "Referer": url, "X-Requested-With":"XMLHttpRequest", \
          "Content-Type":"application/x-www-form-urlencoded; charset=UTF-8"} #, "Referer":"https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50" }'

In [30]:
req_post = requests.post(url=url_phone, data=data)
soup_back = BeautifulSoup(req_post.text, "html.parser")
print(soup_back)
print(len(soup_back))

{"status":"error","message":"Spr\u00f3buj wykona\u0107 operacj\u0119 ponownie. Je\u015bli to nie pomo\u017ce, sprawd\u017a czy masz w\u0142\u0105czon\u0105 obs\u0142ug\u0119 JavaScript w przegl\u0105darce."}
1

In [88]:
data = json.dumps(form)
#data = json.loads(form)
type(data)

str

In [80]:
response = requests.post(url=url_phone, data=json.loads(data))
#return response.json()[1]['data']

In [81]:
#import json
response.json()#["value"][0]

{'message': 'Spróbuj wykonać operację ponownie. Jeśli to nie pomoże, sprawdź czy masz włączoną obsługę JavaScript w przeglądarce.',
 'status': 'error'}

In [94]:
form = {"CSRFToken":"17474f2341360ecac76efc141f2a3de3e15f5903b9147db6fbff00a912ceb626"}
url_phone="https://www.otodom.pl/ajax/misc/contact/phone/3rKCU/"
type(form) # str
r = requests.post(url=url_phone, data=json.dumps(form), headers={'X-Requested-With': 'XMLHttpRequest'})
s = BeautifulSoup(r.text, "html.parser")
s

{"status":"error","message":"Spr\u00f3buj wykona\u0107 operacj\u0119 ponownie. Je\u015bli to nie pomo\u017ce, sprawd\u017a czy masz w\u0142\u0105czon\u0105 obs\u0142ug\u0119 JavaScript w przegl\u0105darce."}

In [92]:
print(s)

{"status":"error","message":"Spr\u00f3buj wykona\u0107 operacj\u0119 ponownie. Je\u015bli to nie pomo\u017ce, sprawd\u017a czy masz w\u0142\u0105czon\u0105 obs\u0142ug\u0119 JavaScript w przegl\u0105darce."}