In [1]:
import requests

In [2]:
from bs4 import BeautifulSoup

In [3]:
print('Agi is awesome at subletting!')

Agi is awesome at subletting!

In [4]:
url = "https://scrapethissite.com/pages/simple/"

In [100]:
r = requests.get(url=url)
print(r.status_code)

200

In [101]:
print(r.text)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<script type="text/javascript">
window.location = "IBE.aspx?j=t";
var last = localStorage["lastPage"] || ""
current = location.href;
if (last === current) { // last page is the same as this page
//this is refresh: do nothing here.
}
localStorage["lastPage"] = current;
</script>
<noscript>
<meta http-equiv="refresh" content="0;URL=IBE.aspx?j=f">
</noscript>

</body>
</html>

In [11]:
soup = BeautifulSoup(r.text, 'html.parser')
title = soup.find('title')
print(title.text)

Countries of the World: A Simple Example | Scrape This Site | A public sandbox for learning web scraping

In [21]:
# <div class="col-md-4 country">
#countries = soup.find_all('div', {"class":"country"})
countries = soup.find_all('div', 'country')
print(len(countries))

250

In [20]:
print(countries[0])

<div class="col-md-4 country">
<h3 class="country-name">
<i class="flag-icon flag-icon-ad"></i>
                            Andorra
                        </h3>
<div class="country-info">
<strong>Capital:</strong> <span class="country-capital">Andorra la Vella</span><br/>
<strong>Population:</strong> <span class="country-population">84000</span><br/>
<strong>Area (km<sup>2</sup>):</strong> <span class="country-area">468.0</span><br/>
</div>
</div>

In [27]:
c = []
for i in range(0, len(countries)):
    single = {}
    #single['country'] = 
    single['capital'] = countries[i].find('div', 'country-info').find('span', "country-capital").text
    c.append(single)

In [29]:
c[100]

{'capital': 'Jakarta'}

In [30]:
countries[0]

<div class="col-md-4 country">
<h3 class="country-name">
<i class="flag-icon flag-icon-ad"></i>
                            Andorra
                        </h3>
<div class="country-info">
<strong>Capital:</strong> <span class="country-capital">Andorra la Vella</span><br/>
<strong>Population:</strong> <span class="country-population">84000</span><br/>
<strong>Area (km<sup>2</sup>):</strong> <span class="country-area">468.0</span><br/>
</div>
</div>

In [43]:
single = {}
this = countries[0]
single['name'] = this.find('h3', 'country-name').text.strip()
single['capital'] = this.find('span', 'country-capital').text.strip()
single['population'] = int(this.find('span', 'country-population').text.strip())
single['area'] = float(this.find('span', 'country-area').text.strip())
print(single)

{'name': 'Andorra', 'capital': 'Andorra la Vella', 'population': 84000, 'area': 468.0}

In [58]:
def find_cat_details(base, category, details):
    return base.find(category, details).text.strip()

country_list = []
for i in range(0, len(countries)):
    single = {}
    this = countries[i]
    
    single['name'] = find_cat_details(this, 'h3', 'country-name').encode('utf-8')
    single['capital'] = find_cat_details(this, 'span', 'country-capital').encode('utf-8')
    single['population'] = int(find_cat_details(this, 'span', 'country-population'))
    single['area'] = float(find_cat_details(this, 'span', 'country-area'))
    
    country_list.append(single)  
    
print(country_list[99])

{'name': b'Hungary', 'capital': b'Budapest', 'population': 9982000, 'area': 93030.0}

In [55]:
country_list[0]

{'area': 468.0,
 'capital': 'Andorra la Vella',
 'name': 'Andorra',
 'population': 84000}

In [46]:
len(country_list)

250

In [48]:
country_list[100]

{'area': 1919440.0,
 'capital': 'Jakarta',
 'name': 'Indonesia',
 'population': 242968342}

In [59]:
import csv

In [63]:
import os
cwd = os.getcwd()
cwd

'/home/agigryms/Notebooks'

In [75]:
# import csv
d = "/home/agigryms/MyProjects/Hartley_Dec_2017"
file = d + "/Storage/countries.csv"

def find_cat_details(base, category, details):
    return base.find(category, details).text.strip()

with open(file, "w+") as f: # replaces if exists
    writer = csv.writer(f)    
    writer.writerow(['Name', 'Capital', 'Population', 'Area'])

    for this in countries: 
        name = find_cat_details(this, 'h3', 'country-name').encode('utf-8')
        capital = find_cat_details(this, 'span', 'country-capital').encode('utf-8')
        population = int(find_cat_details(this, 'span', 'country-population'))
        area = float(find_cat_details(this, 'span', 'country-area'))

        writer.writerow([name, capital, population, area])

print('Ready!')

Ready!

In [76]:
import sqlite3

In [77]:
conn = sqlite3.connect('example.db')

In [78]:
conn.row_factory = sqlite3.Row

In [79]:
conn.isolation_level = None

In [80]:
c = conn.cursor()

In [81]:
c.execute("""
CREATE TABLE IF NOT EXISTS items (
name text, 
price text, 
url text
)
""")

In [86]:
insert_sql = "INSERT INTO items (name, price, url) VALUES (?, ?, ?);"

In [87]:
c.execute(insert_sql, ("item #1", "$19.95", "url #1"))

In [88]:
c.execute(insert_sql, ("item #2", "$199.90", "url #2"))

In [94]:
items = c.execute("SELECT * FROM items")

In [95]:
for item in items:#.fetchall():
    print(item["price"])

$19.95
$199.90

In [96]:
print('Aga')

Aga

In [97]:
url = "https://fly4.emirates.com/CAB/IBE/SelectPrice.aspx"
import requests
from bs4 import BeautifulSoup

In [98]:
r = requests.get(url)
soup = BeautifulSoup(r.text, "html.parser")
curr = soup.find("span", "summary-curr-only")
print(curr)

None

In [99]:
print(soup.prettify())

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <body>
  <script type="text/javascript">
   window.location = "IBE.aspx?j=t";
var last = localStorage["lastPage"] || ""
current = location.href;
if (last === current) { // last page is the same as this page
//this is refresh: do nothing here.
}
localStorage["lastPage"] = current;
  </script>
  <noscript>
   <meta content="0;URL=IBE.aspx?j=f" http-equiv="refresh"/>
  </noscript>
 </body>
</html>

In [130]:
text = '{"outboundFlights":[{"departureStation":"KTW","arrivalStation":"DWC","price":null,"priceType":"noData","date":"2017-12-13T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":{"amount":318.60000000,"currencyCode":"PLN"},"priceType":"price","date":"2017-12-14T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":null,"priceType":"noData","date":"2017-12-15T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":{"amount":286.60000000,"currencyCode":"PLN"},"priceType":"price","date":"2017-12-16T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":null,"priceType":"noData","date":"2017-12-17T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":null,"priceType":"noData","date":"2017-12-18T00:00:00","classOfService":null,"hasMacFlight":false},{"departureStation":"KTW","arrivalStation":"DWC","price":{"amount":318.60000000,"currencyCode":"PLN"},"priceType":"price","date":"2017-12-19T00:00:00","classOfService":null,"hasMacFlight":false}],"returnFlights":[]}'

In [131]:
import json
j = json.loads(text)
flights = j['outboundFlights']

In [132]:
flights = j['outboundFlights']
#flights

In [134]:
#from datetime import datetime
for flight in flights:
    if flight['price']:  
        f = {}
        date = flight['date'][:10]
        f[date] = flight['price']
        print(f)

{'2017-12-14': {'amount': 318.6, 'currencyCode': 'PLN'}}
{'2017-12-16': {'amount': 286.6, 'currencyCode': 'PLN'}}
{'2017-12-19': {'amount': 318.6, 'currencyCode': 'PLN'}}

In [186]:
print('OLX parsing')

OLX parsing

In [182]:
sale = "https://www.olx.pl/nieruchomosci/mieszkania/sprzedaz/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50"
rent = "https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50"
base = "https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/"
search = "?search%5Bfilter_float_m"
area = "%3Afrom%5D="
m2 = 50
m2_string = str(50)
room = "https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=40&search%5Bfilter_enum_rooms%5D%5B0%5D=three"

u = base + search + area + m2_string
print(u)

https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50

In [183]:
import requests
from bs4 import BeautifulSoup

In [184]:
req = requests.get(u)
soup = BeautifulSoup(req.text, "html.parser")
print(len(soup))

6

In [55]:
import requests, re
from bs4 import BeautifulSoup

sale = "https://www.olx.pl/nieruchomosci/mieszkania/sprzedaz/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50"
rent = "https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50"
base = "https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/"
search = "?search%5Bfilter_float_m"
area = "%3Afrom%5D="
m2 = 50
m2_string = str(50)
room = "https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=40&search%5Bfilter_enum_rooms%5D%5B0%5D=three"

u = base + search + area + m2_string

req = requests.get(u)
soup = BeautifulSoup(req.text, "html.parser")

olx_ads = soup.find("table", {'id':"offers_table"})
#print(len(ads))
singles = olx_ads.find_all("tr",  "wrap")
for single in singles:
    ad = {}
    ad['title'] = single.find('h3').text.strip()
    p = single.find_all('p')
    ad['price_zl'] = p[1].text.strip()
    match = re.search('[0-9 ]+', ad['price_zl'])
    ad['price'] = int( (match.group()).replace(' ', '') )
    ad['when'] = p[3].text.strip()
    print(ad)

{'title': '3-pokojowe mieszkanie z garażem w nowym budownictwie', 'price_zl': '1 700 zł', 'price': 1700, 'when': 'dzisiaj 09:15'}
{'title': 'Mieszkanie Warszawa 57m2 Mokotów', 'price_zl': '2 700 zł', 'price': 2700, 'when': 'dzisiaj 09:13'}
{'title': 'Chodkiewicza, 2 p., wysoki standard, wyłączność', 'price_zl': '3 400 zł', 'price': 3400, 'when': 'dzisiaj 09:00'}
{'title': '2 pokoje, Mokotów, ul. Obrzeżna - BEZ PROWIZJI', 'price_zl': '2 650 zł', 'price': 2650, 'when': 'dzisiaj 08:51'}
{'title': '2 pokoje, 50m2, ul.Olszewska, Mokotów, Bez prowizji!', 'price_zl': '2 300 zł', 'price': 2300, 'when': 'dzisiaj 08:50'}
{'title': 'Wiersz o mieszkaniu przy ulicy Zawiszy', 'price_zl': '2 200 zł', 'price': 2200, 'when': 'dzisiaj 08:37'}
{'title': 'Apartament, 82 m.2, trzy pokoje, przy Promenadzie', 'price_zl': '3 300 zł', 'price': 3300, 'when': 'dzisiaj 08:18'}
{'title': 'Mokotów/Ursynów wysoki standard 3 pokoje 70 m2', 'price_zl': '3 300 zł', 'price': 3300, 'when': 'dzisiaj 08:07'}
{'title': 'Mieszkanie na Tarchominie, 65 m2, ulica Majolikowa', 'price_zl': '2 800 zł', 'price': 2800, 'when': 'dzisiaj 08:00'}
{'title': 'Komfort przy Łazienkach BEZPOŚREDNIO od WŁAŚC.', 'price_zl': '2 499 zł', 'price': 2499, 'when': 'dzisiaj 07:51'}
{'title': 'Mieszkanie na Budy / Górce - wszędzie blisko!', 'price_zl': '2 300 zł', 'price': 2300, 'when': 'dzisiaj 07:50'}
{'title': 'biuro 150 m2 przy stacji metra na Powiślu', 'price_zl': '6 900 zł', 'price': 6900, 'when': 'dzisiaj 07:41'}
{'title': '3-pok. na Bemowie, dostępne od zaraz.', 'price_zl': '2 500 zł', 'price': 2500, 'when': 'dzisiaj 07:33'}
{'title': 'Kabaty 72m2, 3 pokoje,basen, ochrona, garaż,', 'price_zl': '3 500 zł', 'price': 3500, 'when': 'dzisiaj 07:31'}
{'title': 'Nowoczesne 2- pokojowe , przytulne mieszkanie!', 'price_zl': '3 000 zł', 'price': 3000, 'when': 'dzisiaj 07:30'}
{'title': '3 pokojowe mieszkanie przy Rondo Daszyńskiego', 'price_zl': '3 900 zł', 'price': 3900, 'when': 'dzisiaj 07:28'}
{'title': 'Mieszkanie do wynajęcia ul Wilcza róg Mokotowskiej', 'price_zl': '3 800 zł', 'price': 3800, 'when': 'dzisiaj 07:28'}
{'title': '3 pokojowy apartament 115m2,na skarpie w Mokotowie', 'price_zl': '4 200 zł', 'price': 4200, 'when': 'dzisiaj 07:19'}
{'title': 'Apartament Miasteczko Wilanów 127 m2', 'price_zl': '6 600 zł', 'price': 6600, 'when': 'dzisiaj 07:19'}
{'title': 'Apartament z klimatyzacja | 2 pokoje 51m2 | ul. Giełdowa', 'price_zl': '2 800 zł', 'price': 2800, 'when': 'dzisiaj 03:25'}
{'title': 'Ostatnie piętro + taras | 3 pokoje 74m2 | ul. Śródziemnomorska', 'price_zl': '4 000 zł', 'price': 4000, 'when': 'dzisiaj 03:12'}
{'title': 'Widok na ścisłe centrum | 3 pok., 50 m² | Żelazna', 'price_zl': '3 000 zł', 'price': 3000, 'when': 'dzisiaj 03:10'}
{'title': 'Najwyższy standard - piękne Stare Miasto | 3 pok., 53 m² | Bednarska', 'price_zl': '4 900 zł', 'price': 4900, 'when': 'dzisiaj 03:07'}
{'title': 'Apartament z ujmującym widokiem | 4 pokoje 100m2 |ul. Woronicza', 'price_zl': '9 000 zł', 'price': 9000, 'when': 'dzisiaj 03:05'}
{'title': 'Ładne, jasne, przestronne mieszkanie na Elektoralnej-Śródmieście', 'price_zl': '2 900 zł', 'price': 2900, 'when': 'dzisiaj 00:29'}
{'title': 'Mokotów*dwa pokoje*duża kuchnia*60.5m2*2200zł/m-c*sprawdź', 'price_zl': '2 200 zł', 'price': 2200, 'when': 'dzisiaj 00:10'}
{'title': 'Mieszkanie 55m2 - Filtrowa - okazja', 'price_zl': '2 000 zł', 'price': 2000, 'when': 'wczoraj 23:20'}
{'title': '131 m2 z pięknym widokiem przy ul. Grzybowskiej', 'price_zl': '12 000 zł', 'price': 12000, 'when': 'wczoraj 23:18'}
{'title': 'Mieszkanie 2 pokoje do wynajęcia - Ursynów/Metro Imielin', 'price_zl': '2 600 zł', 'price': 2600, 'when': 'wczoraj 22:42'}
{'title': 'Wynajmę mieszkanie premium 2-pokojowe 60 m2 - bliskie Bielany', 'price_zl': '2 900 zł', 'price': 2900, 'when': 'wczoraj 22:34'}
{'title': 'Dwupokojowe mieszkanie 55 m2, ul. Bukowińska, blisko metra', 'price_zl': '2 900 zł', 'price': 2900, 'when': 'wczoraj 22:33'}
{'title': 'MOKOTOW/ Chodkiewicza Eko Park NOWOCZESNE 3POKOJOWE,garaż,bezposrednio', 'price_zl': '5 200 zł', 'price': 5200, 'when': 'wczoraj 22:25'}
{'title': 'Mieszkanie 2-pokojowe - Metro Wierzbno, cena z czynszem', 'price_zl': '2 350 zł', 'price': 2350, 'when': 'wczoraj 22:24'}
{'title': 'Praga południe-55m2-2 pokoje-garaż-wolne', 'price_zl': '2 500 zł', 'price': 2500, 'when': 'wczoraj 22:20'}
{'title': 'Śródmieście-80m2-3 pokoje-garaż-wysoki standard-wolne-0% prowizji', 'price_zl': '3 800 zł', 'price': 3800, 'when': 'wczoraj 22:16'}
{'title': 'Śródmieście-55m2-2 pokoje-garaż-wysoki standard-super widok-0%prowizji', 'price_zl': '3 500 zł', 'price': 3500, 'when': 'wczoraj 22:12'}
{'title': '2-pokojowe mieszkanie z garażem blisko metra Kabaty', 'price_zl': '2 000 zł', 'price': 2000, 'when': 'wczoraj 22:12'}
{'title': 'Ursynów-52m2-2 pokoje-metro Ursynów-wolne', 'price_zl': '2 500 zł', 'price': 2500, 'when': 'wczoraj 22:11'}
{'title': 'Wynajmę umeblowane mieszkanie na Grochowie na ulicy Domeyki', 'price_zl': '2 900 zł', 'price': 2900, 'when': 'wczoraj 22:09'}

In [1]:
import requests

In [33]:
headers = '{ "Accept": "*/*", "Accept-Encoding":"gzip, deflate, br", "User-Agent": "Mozilla/5.0 (X11; CrOS x86_64 9592.96.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.114 Safari/537.36", \
          "Accept-Language":"en-GB,en;q=0.8,en-US;q=0.6,pl;q=0.4", "Connection":"keep-alive", "Host":"rpt.cedexis.com", \
           "Origin":"https://www.olx.pl" }' #, "Referer":"https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50" }'

In [34]:
#import json
header = json.loads(headers)

In [35]:
#print(header)
print(type(header))

<class 'dict'>

In [37]:
print(header['Host'])
#header['Referer']

rpt.cedexis.com

KeyError: 'Referer'

In [38]:
olx = "https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50"
r = requests.get(olx, headers=header)

'https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50'

In [40]:
#from bs4 import BeautifulSoup

In [41]:
olxsoup = BeautifulSoup(r.text, "html.parser")

In [42]:
print(olxsoup.prettify())

<html>
 <head>
  <title>
   Invalid URL
  </title>
 </head>
 <body>
  <h1>
   Invalid URL
  </h1>
  The requested URL "http://%5bNo%20Host%5d/nieruchomosci/mieszkania/wynajem/warszawa/?", is invalid.
  <p>
   Reference #9.74ac1002.1513323693.92181a8
  </p>
 </body>
</html>

In [51]:
#import time
t0 = time.time()

def from_epoch(t0):
    return time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(t0))

print(from_epoch(t0))

2017-12-15 09:17:21

In [53]:
type('2017-12-15 09:17:21')

str

In [62]:
import requests, re, time
from bs4 import BeautifulSoup

def from_epoch(t0):
    return time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(t0))

u = "https://www.olx.pl/nieruchomosci/mieszkania/wynajem/warszawa/?search%5Bfilter_float_m%3Afrom%5D=50"

t0 = time.time()
print('Started @ {}'.format(from_epoch(t0)))

req = requests.get(u)
soup = BeautifulSoup(req.text, "html.parser")

olx_ads = soup.find("table", {'id':"offers_table"})
#print(len(ads))
singles = olx_ads.find_all("tr",  "wrap")
for single in singles:
    ad = {}
    ad['title'] = single.find('h3').text.strip()
    p = single.find_all('p')
    ad['price_zl'] = p[1].text.strip()
    match = re.search('[0-9 ]+', ad['price_zl'])
    ad['price'] = int( (match.group()).replace(' ', '') )
    ad['when'] = p[3].text.strip()
    #print(ad)

t = time.time()
print('Finished @ {}'.format(from_epoch(t)))
response_delay = t - t0 # returns seconds: 1.61
print('Took: {}'.format(response_delay))

Started @ 2017-12-15 09:31:12
Finished @ 2017-12-15 09:31:14
Took: 1.6485958099365234